$TTL 8H
@       IN      SOA     ns.domain.com. hostmaster.domain.com. (
                {{ lookup('pipe','date +%Y%m%d%H') }}      ; Serial
                12h             ; Refresh
                4h              ; Retry
                7d              ; Expire
                8h              ; Minumim TTL
        )
        IN      NS     ns.domain.com.

$ORIGIN {{ ptr_origin }}.in-addr.arpa.
{% for ip in ip_items -%}
{%   set ipa = ip.address.split('/') -%}
{%   set oct = ipa[0].split('.') -%}
{%   if ip.dns_name != '' -%}
{%     if ip.dns_name.endswith('.') -%}
{%       set name = ip.dns_name -%}
{%     else -%}
{%       set name = ip.dns_name + '.' -%}
{%     endif -%}
{%   elif ip.assigned_object_type is defined -%}
{%     set int = ip.assigned_object.name | replace("GigabitEthernet", "gi")
         | replace("guest-bridge", "gbr")
         | replace("queue-bridge", "qbr")
         | replace("Vlan", "vl")
         | replace("FastEthernet", "fa")
         | replace("Tunnel", "tu")
         | replace("Loopback", "lo")
         | replace("Port-channel", "po")
         | replace("Ethernet", "et")
         | replace("ethernet", "et")
         | replace("Cellular", "ce")
         | replace("Async", "as")
         | replace("Serial", "se")
         | replace("BVI", "bv")
         | replace("Management", "mg")
         | replace("ether", "et")
         | replace("eth", "et")
         | replace("/", "-")
         | replace(":", "-") -%}
{%     if ip.role.value is defined -%}
{%       set int = ip.role.value -%}
{%     endif -%}
{%     if ip.assigned_object_type == 'dcim.interface' -%}
{%       set name = ip.assigned_object.device.name + "-" + int + ".adm.domain.com." -%}
{%     elif ip.assigned_object_type == 'virtualization.vminterface' -%}
{%       set name = ip.assigned_object.virtual_machine.name + "-" + int + ".adm.domain.com." -%}
{%     endif -%}
{%   endif -%}
{%   if name is defined -%}
{{       "%-20s PTR %s" | format(oct[3],name)}}
{%   endif -%}
{% endfor %}